@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  font-family: "Noto Sans", sans-serif;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* margin: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes word {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-120%);
  }
}

.animate-word {
  animation: word 7s infinite;
}
.animate-word-delay-1 {
  animation: word 7s infinite;
  animation-delay: -1.4s;
}
.animate-word-delay-2 {
  animation: word 7s infinite;
  animation-delay: -2.8s;
}
.animate-word-delay-3 {
  animation: word 7s infinite;
  animation-delay: -4.2s;
}
.animate-word-delay-4 {
  animation: word 7s infinite;
  animation-delay: -5.6s;
}

.client-logo {
  filter: grayscale(100%);
  max-width: 180px;
  opacity: 63%;
}

.client-logo:hover {
  filter: grayscale(0%);
  opacity: 100%;
  transition: filter 0.3s ease-in-out;
}

/* NavBar & Header Styles */

.menu-logo {
  width: 120px;
}

.nav-links:hover {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.nav-link-full:hover {
  color: #757575;
}

.brand-name {
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 2.7px;
  font-style: italic;
}

.about-services {
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 2.7px;
  font-style: italic;
}

.canvas-three {
  width: 100%;
  height: 75vh;
}

.form-card {
  width: 100vw;
}

/* Projects Section */
.projects-wrapper {
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.project-card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.project-card > .project-row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.project-card > .project-row > .project-icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.project-card > .project-row > .project-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.project-description p {
  padding-top: 5px;
  margin-bottom: 12px;
  color: white;
  stroke: #757575;
  font-weight: 500;
}

.project-description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .project-description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.project-card[for="p1"] {
  background-image: url("https://res.cloudinary.com/dltjv8zbh/image/upload/v1709102674/Top_projects_600_x_400-02_d4itiv.png");
}

.project-card[for="p2"] {
  background-image: url("https://res.cloudinary.com/dltjv8zbh/image/upload/v1709102667/Top_projects_600_x_400-03_azqxcn.png");
}

.project-card[for="p3"] {
  background-image: url("https://res.cloudinary.com/dltjv8zbh/image/upload/v1707235972/8950656_10864_xc2ko9.jpg");
}

.project-card[for="p4"] {
  background-image: url("https://res.cloudinary.com/dltjv8zbh/image/upload/v1707235967/6450103_3175719_foxxlk.jpg");
}

.project-card[for="p5"] {
  background-image: url("https://res.cloudinary.com/dltjv8zbh/image/upload/v1707235978/1014359_OJB0D50_dy4rji.jpg");
}

.project-card[for="p6"] {
  background-image: url("https://res.cloudinary.com/dltjv8zbh/image/upload/v1707235988/35428959_stationery_mavec_18_v9cex7.jpg");
}

/* Projects Section */
.card-movie__details-list:after,
.card-movie__details:after {
  clear: both;
  content: "";
  display: table;
}

.card-movie-wrapper {
  box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, 0.2);
  height: 440px;
  position: -webkit-sticky;
  width: 840px;
}
.card-movie-wrapper:hover .card-movie-carousel {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  bottom: 60px;
  right: 40px;
}

.card-movie-wrapper--centered {
  position: relative;
  margin: 0 auto;
}

.card-movie-carousel {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;
  height: 440px;
  width: 840px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.card-movie-navigation {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
  /* z-index: 0; */
}
.card-movie-navigation__list {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 14px;
  top: 50%;
  width: 18px;
}
.card-movie-navigation__list li {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-color: #ccc;
  border-radius: 100%;
  cursor: pointer;
  height: 12px;
  margin: 0 auto 6px;
  width: 12px;
}
.card-movie-navigation__list li:last-child {
  margin-bottom: 0;
}
.card-movie-navigation__list li.is-active {
  height: 18px;
  width: 18px;
}
.card-movie-navigation__list li:hover {
  background-color: #bbb;
}
.card-movie-navigation button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  bottom: 0;
  color: #aac8ca;
  cursor: pointer;
  font-size: 14px;
  line-height: 60px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 40px;
}
.card-movie-navigation button:before {
  content: "Watch Trailer";
}
.card-movie-navigation button:after {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-bottom: 6px solid transparent;
  border-left: 6px solid #dce9e9;
  border-top: 6px solid transparent;
  content: "";
  height: 0;
  margin-right: 6px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}
.card-movie-navigation button.is-playing:before {
  content: "Hide Trailer";
}
.card-movie-navigation button.is-playing:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -6px;
}

.card-movie {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-size: cover;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 0;
}
.card-movie__content {
  left: 330px;
  position: absolute;
  top: 150px;
}
.card-movie__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-left: -4px;
  text-transform: uppercase;
}
.card-movie__details {
  margin-bottom: 30px;
  margin-top: 15px;
}
.card-movie__details-item {
  display: block;
  float: left;
  margin-right: 20px;
}
.card-movie__details-list li {
  float: left;
  margin-right: 5px;
  padding-right: 6px;
  position: relative;
}
.card-movie__details-list li:after {
  content: "|";
  position: absolute;
  right: 0;
}
.card-movie__details-list li:last-child {
  margin-right: 0;
}
.card-movie__details-list li:last-child:after {
  display: none;
}
.card-movie__description {
  font-size: 14px;
  max-width: 390px;
}
.card-movie__rating {
  bottom: 16.6666666667px;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  position: absolute;
  right: 16.6666666667px;
  text-align: center;
  width: 50px;
}
.card-movie__rating:after {
  border-radius: 100%;
  border: 2px solid #ee927b;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-movie__player {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 0;
}
.card-movie--playing .card-movie__player {
  height: 440px;
  width: 840px;
}
.card-movie__player iframe {
  height: 100%;
  width: 100%;
}

.card-movie--active {
  opacity: 1;
  z-index: 5;
}

.card-movie--light {
  background-color: #effdfd;
}
.card-movie--light [class*="__title"] {
  color: #000;
}

.card-movie--dark {
  background-color: #000;
  color: #fff;
}
.card-movie--dark [class*="__title"] {
  color: #fff;
}

.card-movie--looper {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/looper.png");
}

.card-movie--tron {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/tron.png");
}

.card-movie--interstellar {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/interstellar.png");
  background-color: #fffffa;
}

.card-movie--garden-state {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/garden-state.png");
}

.card-movie--walter-mitty {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/walter-mitty.png");
}

.card-movie--cloud-atlas {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/cloud-atlas.png");
}

/* Footer */
.footer-logo {
  width: 120px;
}

/* Image Slides */
input[type="radio"] {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  height: 60vh;
  margin-bottom: 20px;
}

.card {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

#item-1:checked ~ .cards #image-3,
#item-2:checked ~ .cards #image-1,
#item-3:checked ~ .cards #image-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #image-2,
#item-2:checked ~ .cards #image-3,
#item-3:checked ~ .cards #image-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #image-1,
#item-2:checked ~ .cards #image-2,
#item-3:checked ~ .cards #image-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #image-1 img,
#item-2:checked ~ .cards #image-2 img,
#item-3:checked ~ .cards #image-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  /* CSS rules for extra small devices */
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  /* CSS rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  /* CSS rules for medium devices */
  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-content {
    width: 100% !important;
  }

  .about-image {
    width: 100% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  /* CSS rules for large devices */
  .header-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    font-size: 4rem;
  }

  .canvas-three {
    height: 50dvh;
  }

  .form-card {
    width: 60vw;
  }
  .card-movie-wrapper {
    height: 50vh;
    width: 80vw;
  }
  
  .card-movie-carousel {
    height: 50vh;
    width: 80vw;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* CSS rules for extra large devices */
}
